<turbo-frame id="link_form">
  <%= turbo_frame_tag "link_form" do %>
    <%= form_with(model: @link, local: true, method: @link.persisted? ? :patch : :post, url: @link.persisted? ? link_path(@link) : links_path) do |form| %>
      <% if @link.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

          <ul>
            <% @link.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :url %>
        <%= form.text_field :url %>
      </div>

      <div class="field">
        <%= form.label :link_type %>
        <%= form.select :link_type, options_for_select(Link.link_types.map { |key, value| [key.humanize, value] }, @link.link_type), { prompt: 'Select Link Type' }, id: 'link_type_select' %>
      </div>

      <!-- Campos opcionales -->
      <div class="field" id="expires_at_field" style="<%= 'display: none;' unless @link.link_type == 'temporal' %>">
        <%= form.label :expires_at %>
        <%= form.datetime_field :expires_at %>
      </div>

      <div class="field" id="password_field" style="<%= 'display: none;' unless @link.link_type == 'privado' %>">
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div><br>

      <div class="actions">
        <%= form.submit "Guardar", class: "btn btn-primary" %>
      </div><br>
    <% end %>
  <% end %>

</turbo-frame>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  // Función para manejar el cambio en el tipo de enlace
  $(document).on("change", "#link_type_select", function() {
    toggleOptionalFields();
  });

  // Mostrar/ocultar campos al cargar la página
  $(document).ready(function() {
    toggleOptionalFields();
  });

  // Función para mostrar/ocultar campos según el tipo de enlace seleccionado
  function toggleOptionalFields() {
    var linkType = $("#link_type_select").val();
    $("#expires_at_field").toggle(linkType === "temporal");
    $("#password_field").toggle(linkType === "privado");
  }
</script>
