<head>
  <title>Chq.To</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<div class="body-container">
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <h2>Enter Password</h2>

  <%= form_tag verify_password_link_path(@link), method: :post do %>
    <div class="field">
      <%= label_tag :password, "Password" %>
      <%= password_field_tag :password %>
    </div><br>

    <div class="actions">
      <%= submit_tag "Verify Password" %>
    </div>
  <% end %>
</div>